{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block content%}

<div class="well">
    <div class="container">

        <div class="jumbotron" style="background-color:rgba(99, 18, 6, 0.637)">
            <h2 class="jumboheading" style="text-align:center"> <strong>News Highlights</strong> </h2>
            <p class="welcome">Welcome to the site where you can catch up on everything trending!</p>
            <p class="welcome">You cannot afford to miss a thing!</p>
            <!-- <form>
                <input type="text" name="source_query" placeholder="Search for a News Source" class="form-control">
                <br>
                <input type="submit"  value="Submit" class="btn btn-warning">
            </form> -->
        </div>
    </div>
    <div class="container" style="background-color:rgba(38, 151, 151, 0.233)">

        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center"> <strong>General News</strong></h3>
            </div>
            <ul>
                {{ macro.displaySourceList(general)}}
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center"> <strong>Entertainment News</strong> </h3>
            </div>
            <ul>
                {{ macro.displaySourceList(entertainment)}}
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center"> <strong>Business News</strong></h3>
            </div>
            <ul>
                {{ macro.displaySourceList(business)}}
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center"><strong>Sports News</strong></h3>
            </div>
            <ul>
                {{ macro.displaySourceList(sports)}}
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center"><strong>Technology News</strong> </h3>
            </div>
            <ul>
                {{ macro.displaySourceList(technology)}}
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center"><strong>Health News</strong></h3>
            </div>
            <ul>
                {{ macro.displaySourceList(health)}}
            </ul>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h3 style="text-align: center"><strong>Science News</strong></h3>
            </div>
            <ul>
                {{ macro.displaySourceList(science)}}
            </ul>
        </div>
        <br>
    </div>
</div>
{% endblock %}